$color-text-dark:  hsl(0, 0%, 29%);
$color-text-light: hsl(0, 0%, 71%);

$color-primary: hsl(263, 14%, 62%);
$color-danger:  hsl(348, 86%, 61%);
$color-info:    hsl(217, 71%,  53%);
$color-warning: hsl(48,  100%, 67%);