extends layouts/wellcome.pug
block header
  .page-header__inner
    include components/navbar
block content
  h1(style="font-weight: 200") Channel
  p Chat -
  div#chat(style="height: 200px; width: 300px; overflow-y: scroll")
  div
    input#username(type="text", style="width: 300px; display: block", placeholder="username")
    input#input(type="text", style="width: 300px")