extends layouts/wellcome.pug
block header
  .page-header__inner
    include components/navbar
block content
  h1(style="font-weight: 200") Home page
  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat id, reiciendis magni qui vel, tempore corporis a numquam quas accusantium voluptatem dolorem aspernatur suscipit quam doloremque illum recusandae maxime velit.